<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="persistenceUnitName" transaction-type="RESOURCE_LOCAL"> <!-- JTA - JavaEE / RESOURCE_LOCAL - JavaSE environment -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <properties>
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" /> <!-- Database Driver -->
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost/dbName" /> <!-- Database Name e.g. jdbc:postgresql://127.0.0.1:5432/mydatabase -->
            <property name="javax.persistence.jdbc.user" value="postgres" /> <!-- Database Login -->
            <property name="javax.persistence.jdbc.password" value="your_password" /> <!-- Database Password -->

            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL95Dialect"/> <!-- Database Dialect -->
            <property name="hibernate.hbm2ddl.auto" value="create-drop" /> <!-- create / create-drop / update -->

            <property name="hibernate.show_sql" value="true" /> <!-- Show SQL in console -->
            <property name="hibernate.format_sql" value="true" /> <!-- Show SQL formatted -->
        </properties>
    </persistence-unit>
</persistence>
